.Class{
    display: inline-block;
     color: rgb(58, 39, 0);
    background-color: rgba(255, 213, 130, 0.70);
    width: 300px;
    height: 300px;
    border: solid 2px;
    border-color: rgb(179, 113, 26);
    border-radius: 10px;
    position: relative; 
    top: 10px;
    margin: 30px ;
    padding: 20px;

    /*align-items: center;
    justify-content: center;*/
    }

.Class p{
    width: 280px;
    height: 230px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    left: 10px;
    text-align: center;
    /*
height: auto;
text-overflow: ellipsis;
overflow: hidden;
position: center;
text-align: center;*/
    /*hacer que salgo un scroll cuando el mensaje sea muy largo*/
} 
.Class p:hover{
    overflow-y: scroll;
}



.Class button{
  background-color:  rgb(216, 150, 65);; /* Green */
  border: solid 2px;
  border-color:  rgb(58, 39, 0);;
  border-radius: 4px;
  color:  rgb(58, 39, 0);;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 3px rgb(179, 107, 0);
}
.Class button:hover {
    background-color: rgb(238, 175, 92); /* Green */
    color: white;
  }
  .Class button:active {
    box-shadow: 0 1px rgb(179, 107, 0);
    transform: translateY(2px);
}